/*********************************TAG SELECTORS*********************************/

h1 {
  color: red;
  font-size: 100;
}
img:hover{
  background-color: orange;
}
/********************************CLASS SELECTORS********************************/
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular{
  border-radius: 100%;
}
/*********************************ID SELECTORS**********************************/
#heading {
  color: grey;
}
